@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    padding: 50px;
    background-color: #FFEFB1;
    font-family: 'Raleway', sans-serif
}

#container {
    display: flex;
    justify-content: flex;

    max-width: 500px;
    margin: 0 auto;
}