@import url('https://fonts.googleapis.com/css?family=Muli|Raleway');

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #5A1AA9;
}

.App-title {
  font-size: 2em;
}

.count-number-total {
  font-size: 1.5em;
}

.count-button .count-more {
  padding: 10px 20px;
  border: none;
  background-color: #FD3447;
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
  border-radius: 100px;
  margin-right: 5px;
  cursor: pointer;
}

.count-button .count-less {
  padding: 10px 20px;
  border: none;
  background-color: #FD3447;
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
  border-radius: 100px;
  margin-right: 5px;
  cursor: pointer;
}

.count-button .reset {
  padding: 10px 20px;
  border: none;
  background-color: #F06F91;
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
  border-radius: 100px;
  margin-right: 5px;
  cursor: pointer;
}